<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if 'user_id' in session %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/backup">Backup</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash-messages">
        {% for message in messages %}
        <div class="flash-message {{ message[1] }}">{{ message[0] }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
